/*
	TicTacToe Styling
*/

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  /* margin: 20px; */
  margin-left: auto; /* align in center */
  margin-right: auto;
  margin-top: 12.5%; /* bit lower from top */
  width: 150px; /* center would work only with fixed width */
}

ol, ul {
  padding-left: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  min-width:100px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-top: 5px;
}
